# make sdkman non-interactive, preferred for CI environments
sdkman_auto_answer=true

# perform automatic selfupdates
sdkman_auto_selfupdate=false

# disables SSL certificate verification
# https://github.com/sdkman/sdkman-cli/issues/327
# HERE BE DRAGONS....
# sdkman_insecure_ssl=true|false

# configure curl timeouts
sdkman_curl_connect_timeout=5
sdkman_curl_max_time=4

# subscribe to the beta channel
# sdkman_beta_channel=true